@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
   
    margin: 10;
    border-radius: 0em;
    background-image: url("assets/download.jpg");
    background-size: cover;   
    background-repeat: no-repeat;
    background-position: center;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 2rem auto;
   max-width: 1200px;
}
.navigation ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
.navigation a {
    text-decoration: none;
    color: #eeee;
}
.navigation a:hover {
    text-decoration: none;
    color:aqua;
}
hr{
    opacity: 10%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
}
.arrow{
    position: absolute;
    transform: translateX(-5.5rem) translateY(1.5rem);
}
.heroSub{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name{
    font-size: 3rem;
    color: #eeee;
}
.title{
    font-size: 4rem;
    color: #00adb5;
}
.heroBtns{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.hireMe{
    background-color: #00adb5;
    color: #eeee;
    border-radius: 24px ;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.information{
    background-color: rgba(57, 62, 70, 0.75);
    color: #eeee;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
}


.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
    max-width: 1200px;
    gap: 10rem;
}
.textContainer{
    display: flex;
    flex-direction: column;
}
.textTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}
.aboutName {
    color: #eeee;
}
.aboutTitle {
    color: #00adb5;
}
.aboutMePar {
    text-align: justify;
    color: rgb(238, 238, 238, 0.75);
}
.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin: 2rem auto;
    max-width: 1200px;

}
.contactTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5rem;
    gap: 20rem;
    justify-content: space-between;
}
.contact h3, .contact a{
    color: #eeee;
    text-decoration: none;
}
.emailAndPhone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
footer{
    color: #eeee;
    padding: 2rem;
    text-align: center;
}
@media (max-width: 1020px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 0;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .projectTitle {
    margin-left: 1rem;
  }
  .works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .contactContainer {
    margin: 10rem 5rem;
    gap: 2rem;
  }
  .contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }
}